@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<h2>MAHADEV_PLATES & CO</h2>
<td>
    <img src="~/Img/Product  1.jpeg" width="300" height0="300" />
</td>
<td>
    <img src="~/Img/Product 2.jpeg" alt="Error" width="300" height0="300" />
</td>
<td>
    <img src="~/Img/Product .jpeg" width="300" height0="300" />
</td>
